<?xml version="1.0"?>
<model>
  <name>RSE Bot</name>
  <version>0.1.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>UNR Robotics Software Engineering</name>
    <email>robotics@unr.edu</email>
  </author>
  <description>A simple differential-drive teaching robot with a planar lidar.</description>
</model>
